.paper {
  overflow-x: scroll;
  max-height: 40vh;
}

.list {
  padding-top: 0
}

.search_field {
  padding-top: 0.5rem;
}

.phoneNumberTextField {
  @apply bg-white rounded;

  & :global(.MuiInputBase-root.MuiOutlinedInput-root) {
    padding-left: 0;
  }

  .countryFlagSelect {
    @apply mr-3 ;

    & :global(.MuiSelect-select#country-flag) {
      @apply flex items-center;
    }
  }
}

